.header{
    display: flex;
    justify-content: space-between;
    color:aqua;
}
.logo{
    height: 6rem;
    width: 15rem;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 3rem;
    color: white;
    text-align: right;
}
.header-menu>li:hover{
    cursor: pointer;
    color: red;
}